<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Receive via <span class="medium">{{ medium }}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transanction Details</ion-card-subtitle>
      <ion-card-title>
        <div class="amount-div">
          <p>
          5 Bags of rice.
        </p>
        <h3>#1234</h3>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="amount-div">
        <p>
        From: 
      </p>
      <h3>John Doe</h3>
      </div>
    </ion-card-content>
  </ion-card>
  <br><br>
  <ion-button (click)="receive()" expand="block" shape="round">
    Receive via {{ medium }}
  </ion-button>
</ion-content>
