<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Send via <span class="medium">{{ medium }}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fb-root"></div>
  <script>
      if (isProduction()) { // TODO refactor this
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=726972757440597";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      }
  </script>

  <div class="container ion-text-center">
      <h1>Audio Network - send data over sound in JavaScript</h1>

      <h2>Receiver</h2>
      <div class="row margin-bottom">
          <div class="col col-xs-12">

              <span>State: </span><span id="rx-state">?</span>
              <br/>
              <ion-input id="rx-packet" style="height: 100px;" readonly="readonly">asf</ion-input>
              <button class="btn btn-default" onClick="reset()">Reset</button>

          </div>
      </div>

      <h2>Transmitter</h2>
      <ion-row class="">
          <div class="col col-xs-12">

              <ion-textarea id="tx-packet">0 1 1 0 0 0 0 1</ion-textarea>
              <ion-button class="" (Click)="sync()">Sync</ion-button>
              <ion-button class="" onClick="sendPacket()">Send packet</ion-button>

          </div>
        </ion-row>

      <script>
          document.write('<div class="fb-comments" data-href="' + window.location.href + '" data-numposts="5"></div>');
      </script>

  </div>


  <!-- <script src="https://cdn.rypula.pl/audio-network/v1.3.2/audio-network-v1.3.2.min.js"></script>

  <script src="physical-layer-simple.js"></script> -->

  <script>
      if (isProduction()) { // TODO refactor this
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-76662342-1', 'auto');
          ga('send', 'pageview');
      }
  </script>
</ion-content>
